@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebGui.Areas.Visitor.Models.MultipleExhibitionVm
@{
    ViewBag.Title = "Výstava";
}
<div class="form-background">
    <div method="post" class="row signUpForm" enctype="multipart/form-data">
        <div class="step">

            @await Html.PartialAsync("_RegistrationPartial", Model.RegistrationType)
            <h1 class="text-center">Registrace</h1>

            <form method="post" asp-area="Visitor" asp-controller="Registration" asp-action="UpsertExhibition"
                  class="row">
                <input asp-for="@Model.RegistrationToExhibitionId" type="hidden"/>
                <input asp-for="@Model.Step" type="hidden"/>
                <input asp-for="@Model.Disabled" type="hidden"/>
                <partial name="_ExhibitionPartial" Model="@Model"/>
                <partial name="_buttonsPartial" Model="@Model"/>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const button = document.getElementById("myButton");

        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                placeholder: "Vyberte si kategorii",
                allowClear: true,
                dropdownAutoWidth: true,
                scrollAfterSelect: true,
            });
        });

        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                placeholder: "Vyberte...",
                minimumResultsForSearch: -1
            });
        });

    </script>

    <partial name="_scriptPartial" Model="@Model.Step"/>
    <partial name="_ExhibitionScript" Model="@Model"/>
}