@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebGui.Areas.Visitor.Controllers
@model WebGui.Areas.Visitor.Models.PriceModels.PriceModelStep2

@* ReSharper disable AccessToModifiedClosure *@

@{
    ViewBag.Title = "Cena 2/3";
    Layout = "_Layout";
}

<div class="container align-items-center text-center">
    <h1>Cena 2/3</h1>
    <h3>Výstavní dny</h3>
    Zvolte výstavní dny, kdy budou dané skupiny dostupné
</div>

<form method="post" asp-controller="Exhibition" asp-action="UpsertPriceStep2"
      class="p-2 d-flex flex-column justify-content-center align-items-center">
    <input type="hidden" asp-for="ExhibitionId"/>
    <ul style="list-style-type: none; padding: 0; margin: 0">
        @for (var i = 0; i < Model.Days.Count; i++)
        {
            <li class="form-check">
                <input type="hidden" asp-for="@Model.Days[i].Id"/>
                <input type="hidden" asp-for="@Model.Days[i].LabelName"/>

                <input class="form-check-input" type="checkbox" checked="@Model.Days[i].IsChecked"
                       asp-for="@Model.Days[i].IsChecked">
                <label class="form-check-label" asp-for="@Model.Days[i].IsChecked">
                    @Model.Days[i].LabelName
                </label>
            </li>
        }
    </ul>

    @Html.ValidationMessage(BaseController.CommandValidation, new { @class = "text-danger" })

    <div class="col-12 row">
        <div class="col-md-6">
            <a class="btn btn-secondary" style="width: 100%" asp-action="UpsertPriceStep1" asp-controller="Exhibition"
               asp-route-exhibitionId="@Model.ExhibitionId" asp-route-pricesIds="@Model.PricesIds">Zpět</a>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary col-md-6 form-control" style="width: 100%">
                Další
            </button>
        </div>
    </div>
</form>